<h2 class="text-center mb-4 fw-bold text-white">Resend Unlock Instructions</h2>

<%= render "devise/shared/error_messages" %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { class: "bg-dark bg-opacity-75 p-4 rounded-3 shadow-lg text-white" }) do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control bg-light text-dark" %>
  </div>

  <div class="mb-3 text-center">
    <%= f.submit "Send Unlock Instructions", class: "btn btn-danger fw-bold px-4" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
