<div class="container py-5">
  <h2 class="text-center mb-4 text-light">Wild Battle</h2>

  <div class="row">
    <!-- Card do Pokémon do Usuário -->
    <div class="col-md-6 mb-3">
      <div class="card bg-dark text-light shadow rounded-3 text-center">
        <div class="card-body">
          <h3 class="card-title">
            <%= (@user_pokemon.nickname || @user_pokemon.pokemon.name).capitalize %> 
            (Lv. <%= @user_pokemon.level %>)
          </h3>
          <p class="card-text">
            HP: <%= @user_pokemon.current_hp %> / <%= @user_pokemon.hp %>
          </p>
          <img src="<%= @user_pokemon.pokemon.image_url %>" style="max-height: 200px;">
        </div>
      </div>
    </div>

    <!-- Card do Pokémon Selvagem -->
    <div class="col-md-6 mb-3">
      <div class="card bg-dark text-light shadow rounded-3 text-center">
        <div class="card-body">
          <h3 class="card-title">
            <%= @wild_pokemon.pokemon.name.capitalize %> 
            (Lv. <%= @wild_pokemon.level %>)
          </h3>
          <p class="card-text">
            HP: <%= @wild_pokemon.current_hp %> / <%= @wild_pokemon.hp %>
          </p>
          <img src="<%= @wild_pokemon.pokemon.image_url %>" style="max-height: 200px;">
        </div>
      </div>
    </div>
  </div>
  <hr>

 <% if @battle_logs.present? %>
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title text-center mb-3">Battle Log</h4>
      <div class="battle-log bg-light p-3 rounded" style="max-height: 300px; overflow-y: auto; font-family: monospace;">
      <% @battle_logs.order(:turn).each do |log| %>
        <div class="battle-log-entry mb-2 p-2 border rounded bg-white shadow-sm">
          <div>
            <span class="badge bg-dark me-2">Turn <%= log.turn %></span>
            <span><%= log.message %></span>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <% unless @wild_battle.finished? %>
    <%= button_to "Próximo Turno", next_turn_capture_battle_path(@wild_battle), method: :post, class: "btn btn-primary" %>
  <% else %>
    <div class="alert alert-success mt-4 text-center">
      <strong><%= @wild_battle.winner.name_or_nickname %></strong> venceu a batalha!
    </div>
  <% end %>
</div>
