<div class="container py-5">
  <h2 class="text-center mb-4">Wild Battle</h2>

  <div class="row">
    <div class="col-md-6 text-center">
      <h3><%= @user_pokemon.nickname || @user_pokemon.pokemon.name %> (Lv. <%= @user_pokemon.level %>)</h3>
      <p>HP: <%= @user_pokemon.current_hp %> / <%= @user_pokemon.hp %></p>
      <img src="<%= @user_pokemon.pokemon.image_url %>" style="max-height: 200px;">
    </div>
    <div class="col-md-6 text-center">
      <h3><%= @wild_pokemon.pokemon.name %> (Lv. <%= @wild_pokemon.level %>)</h3>
      <p>HP: <%= @wild_pokemon.current_hp %> / <%= @wild_pokemon.hp %></p>
      <img src="<%= @wild_pokemon.pokemon.image_url %>" style="max-height: 200px;">
    </div>
  </div>

  <hr>

  <pre><%= @wild_battle.battle_log %></pre>

  <% unless @wild_battle.finished? %>
    <%= button_to "Próximo Turno", next_turn_capture_battle_path(@wild_battle), method: :post, class: "btn btn-primary" %>
  <% else %>
    <div class="alert alert-success mt-4 text-center">
      <strong><%= @wild_battle.winner.name_or_nickname %></strong> venceu a batalha!
    </div>
  <% end %>
</div>
